  .ant-select-selector {
    border-radius: 10px;
    border: 1px solid black !important;
    background: #FBFBFB !important;
    padding: .5rem .5rem .5rem .5rem;
  }

  .select-campaign {
    .ant-select-selector {
      padding: .5rem .5rem .5rem .5rem;
      border-radius: 10px;
    }
  }