@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://rsms.me/inter/inter.css");

.ant-picker:hover {
  border-color: black !important;
}

.ant-picker-focused {
  border-color: black !important;
  box-shadow: none !important;
}

.ant-picker-active-bar {
  background: black !important;
}

.ant-float-btn-body {
  background: #7FFBAE !important;
  width: auto !important;
}

.ant-float-btn-content {
  width: auto !important;
}

.ant-float-btn-icon {
  width: auto !important;
  height: auto !important;
}

.ant-tooltip-inner {
  color: black !important;
  background-color: #edecf2 !important;
}

.ant-dropdown-menu-title-content {
  font-family: 'Inter';
  font-weight: 600;
  color: black;
}

.ant-collapse-header {
  border-radius: 0 !important;
  padding: 0 !important;
  border: none !important;
}

.ant-collapse-expand-icon {
  display: none !important;
}

.ant-collapse-header-text {
  padding: 0 !important;
}

.ant-collapse-content-box {
  border-radius: 0 0 5px 5px !important;
  padding: 0 !important;
  border: none !important;
}

.ant-collapse {
  border: none !important;
}

.recharts-cartesian-axis-tick {
  font-size: 10px;
  font-weight: 600;
  color: black;
  letter-spacing: -.3px;
  font-family: Inter;
}